@font-face {
	font-family: "aesthetregular";
	src: url("/static/stylesheets/fonts/Aesthet-Nova-Regular.otf");
}

body {
	font-family: "aesthetregular";
}

#index-col {
	width: 100%;
}

#main-img {
	max-width: 100%;
}

#nick-griffo {
	width: 100%;
}

#main-row {
	width: 100vw;
}

#contact-info-list {
	list-style-type: none;
	font-size: 11px;
}

#index-list-left {
	list-style-type: none;
	text-align: center;
}
#index-list-middle {
	list-style-type: none;
	text-align: center;
}
#index-list-right {
	list-style-type: none;
	text-align: center;
}

#index-btn:focus {
	box-shadow: none !important;
}

#index-btn:hover {
	transition-duration: 0.2s;
	color: rgb(99, 140, 253);
}

#back-btn:hover {
	color: rgb(185, 185, 185);
	transform: scale(1.2);
}

#fwd-btn:hover {
	color: rgb(185, 185, 185);
	transform: scale(1.2);
}

#back-btn:focus {
	box-shadow: none;
}
#fwd-btn:focus {
	box-shadow: none;
}

.nav-link:hover {
	color: rgb(99, 140, 253);
}

/* .btn-group {
	height: 15px;
} */

.collapse,
.collapsing {
	width: 100% !important;
}

.thumbnail {
	opacity: 0.5;
	transition-duration: 0.2s;
	width: 100%;
	height: auto;
}

.thumbnail:hover {
	opacity: 1;
	transition-duration: 0.2s;
	transform: scale(1.1);
}

.hidden {
	display: none;
}

.scroll {
	max-height: 100vh;
	overflow-y: auto;
}

.nav-link {
	color: black;
	font-size: 11px;
}

.carousel {
	padding: 20px;
	max-width: fit-content;
}

.carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: 0.2s;
	transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	transition-duration: 0s;
	opacity: 0;
}

/* .carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: scale(1);
} */

img {
	display: block;
	max-width: fit-content;
	max-height: 90vh;
	height: auto;
}
